header.header
    .header__wrapper
        .header__column
            a.home(href=routes.home)
                i.fab.fa-youtube
                span YOUTUBE
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul
                if !loggedUser
                    li.log
                        a(href=routes.join) Join
                    li.log
                        a(href=routes.login) Log In
                else 
                    .dropDown
                        img#header_avatar(src=loggedUser.avatarUrl)
                        #mydropdown.dropdown-content
                            li.logged
                                a(href=`/videos${routes.upload}`) Upload
                            li.logged
                                a(href=routes.me) Profile
                            li.logged
                                a(href=routes.logout) Log Out
                